[Desktop Entry]
Name=Lens
Comment=Fast mobile-first camera for Linux
Exec=/home/bao/Documents/lens/src/lens.py
Icon=org.cheapaz.Lens
Terminal=false
Type=Application
Categories=AudioVideo;Video;
Keywords=camera;photo;video;webcam;
